/*font*/
.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Syne Mono", monospace;
    color: white;
    background-color: #ebebeb;
}

.a {
    text-decoration: none;
    color: white;
}

/*Global configurations*/
.contenedor {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}

.header-container {
    min-height: 100px;
    background-color: rgb(98, 1, 46);
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Syne Mono", monospace;
    color: white;
    font-size: 1.3rem;
    padding: 20px 0px;
    margin-left: 20px;
}

.bold {
    font-weight: bold;
    color: rgb(230, 253, 242);
}

nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.menu a:hover {
    text-decoration: underline;
    color: rgb(220, 255, 243);
}

.navbutton {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

.col {
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
    background-color: #651eff;
}

.hideDesktopOnly {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-family: "Syne Mono", monospace;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}

.col p {
    font-family: "Syne Mono", monospace;
    color: white;
    font-size: 0.875rem;
    padding: 20px 30px;
    line-height: 1.2rem;
}

.mob-wrapper {
    display: none;
}

/* Tablet view */
@media (max-width: 780px) {
    .col {
        width: 50%;
    }

    .hideDesktopOnly {
        display: block;
    }

    nav {
        display: none;

    }

    .mob-wrapper {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        padding-right: 30px;
    }

    .mobile-nav {
        display: none;
        position: absolute;
        padding-top: 5px;
    }

    .navburgerbutton {
        display: block;
        text-decoration: none;
        color: white;
        background-color: #651eff;
        padding: 15px 30px;
        margin-left: -90px;
        border-radius: 7px;
        text-align: center;
    }


}

/* Mobile view */
@media (max-width: 580px) {
    .col {
        width: 100%;
    }

    .hideMobileOnly {
        display: none;
    }

    nav {
        justify-content: center;
        margin-left: 20px;
    }

    .menu a {
        display: block;
        padding: 10px 10px;
        padding-right: 30px;
    }

    .logo span {
        padding-right: 20px;
    }


    .bold {
        margin-bottom: 5px;
    }

}